body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

/* Header */

header {
    padding-top: 60px;
    padding-bottom: 140px;
    background: linear-gradient(to bottom, #7db9e8 0%, #2e7be8 48%);
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.logo {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border-width: 0px;
    transition: all 1s ease-out;
}

.logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px white, inset 0 0 10px 5px white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.offer_block {
    width: 25vw;
    max-width: 450px;
    color: white;
}

.offer_title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
}

.title_span {
    word-break: break-all;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
}

.offer_text {
    max-width: 350px;
    width: fit-content;
    font-size: 14px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 40px;
}

.offer_button {
    width: 230px;
    height: 50px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd429;
    transition: all 0.5;
}

.offer_button:hover {
    background-color: yellow;
}

.header_image {
    width: 30vw;
    max-width: 456px;
    object-fit: contain;
}

/* Main */

main {
    padding-top: 60px;
    padding-bottom: 90px;
}

.main_title {
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}

.blocks {
    padding: 25px;
    text-align: center;
    width: 25%;
}

.blocks:hover {
    animation: block-zoom 0.5s both ease-out;
}

@keyframes block-zoom {
    25% {
        box-shadow: 0 0 20px lightgray;
    }

    100% {
        transform: scale(1.2);
        box-shadow: 0 0 100px gray;
    }
}

.blocks_images {
    margin-bottom: 15px;
}

.images_text {
    font-weight: 100;
    font-size: 14px;
    color: gray;
}

/* Section */

section {
    background-color: #ecf3f8;
    padding-top: 60px;
    padding-bottom: 90px;
}

section#order_form {
    background: linear-gradient(to top, #7db9e8 0%, #2e7be8 48%);
    color: white;
}

.section_title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    text-indent: 20px;
}

input:focus {
    animation: input-focus 0.5s both ease-in-out;
}

input:invalid {
    background: rgba(255, 0, 0, 0.2);
}

input:invalid:required {
    box-shadow: 0px 0px 10px red;
    border: 2px solid red;
}

input:valid {
    box-shadow: 0px 0px 10px #7db9e8;
    border: 2px solid #7db9e8;
}


@keyframes input-focus {
    25% {
        background-color: #e1f2ff;
    }

    50% {
        outline-offset: 10px;
    }

    100% {
        background-color: #bee3ff;

    }
}

input#submit {
    margin-top: 30px;
    text-indent: 0;
    width: 308px;
    height: 44px;
    background-color: #ffd429;
    border-width: 1px;
    border-color: gray;
    transition: all 1s ease-out;
}

input#submit:hover {
    transform: scale(1.1);
    font-weight: bold;
    background-color: yellow;
}

.labelled_input {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

label {
    margin: auto 0 auto 0;
}

#date_time_label {
    margin: auto 0 auto 0;
}

input#time {
    margin-left: auto;
}

/* Footer */

footer {
    background: linear-gradient(to bottom,
            rgba(30, 87, 153, 1) 0%,
            rgba(41, 137, 216, 1) 50%,
            rgba(32, 124, 202, 1) 50%,
            rgba(125, 185, 232, 1) 100%);
}

.copyright {
    margin: 0;
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 13px;
}

/* Extra large devices */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
        padding: 0 5% 0 5%;
    }
}

/* Large devices */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }

    .wrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .offer_block {
        width: 100%;
        margin-top: 40px;
    }

    .offer_text {
        width: 100%;
    }

    .header_image {
        display: block;
        margin: 40px auto;
    }

    .blocks {
        display: block;
        margin: 40px auto;
    }
}

/* Medium devices */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .header_image {
        width: 400px;
    }

    .offer_button {
        width: 100%;
    }

    form {
        margin: 60px auto 0 auto;
    }

    input {
        width: 98%;
    }

    button {
        width: 100%;
    }
}

/* Small devices */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .header_image {
        width: 90%;
    }

    header {
        padding-bottom: 70px;
    }

    section {
        padding-bottom: 70px;
    }
}